<div class="row footer">
  <div class="col-md-4">
    <label class="label label-success online_label pull-left">Online</label>
    <span class="pull-right">Store: NCR</span>
  </div>
  <div class="col-md-4 center">
    <span>Manager: {{empName}}</span>
  </div>
  <div class="col-md-4">
    <span class="pull-left">Login Since : <span class="login_date">{{date}}</span></span>
    <span class="pull-right"><a href="dashboard/(dashboardRouter:home)#" class="white_font" (click)="logout()">Logout</a></span>
  </div>
</div>
